.header {
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
    justify-content: space-between;
}

.header img {
    width: 100px;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: 'HelveticaRegular';
}

.header a {
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: #FF9F00;
}

.activePage {
    color: #FF9F00;
}

.nonActive {
    
}
