.header {
    display: flex;
    flex-direction: row;
    margin: 30px 50px;
    justify-content: space-between;
}

.header img {
    width: 100px;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: 'HelveticaRegular';
}