.search {
    margin: 20px 100px;
}

.searchButton {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 20px 10px;
}

.searchButton input {
    background-color: #FFEBDA;
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
}

.results {
    display: flex;
    flex-direction: row;
    font-family: 'TerminaDemi';
    justify-content: space-between;
}

.results p {
    font-family: 'Helvetica';
}

.category,
.courses {
    overflow-y: scroll;
    height: 500px;
}

.category p {
    font-size: 18px;
}

.category p:hover {
    color: #FF9F00;
    cursor: pointer;
}

.courses {
    background-color: #FFDBBC;
    border-radius: 20px;
    padding: 8px 25px;
}

.singleCourse {
    background-color: white;
    border-radius: 10px;
}

.singleCourse:hover {
    cursor: pointer;
    background-color: #FF9F00;
}

.singleCourse p {
    font-size: 20px;
    padding: 10px 20px;
}

.singleCourse p:hover {
    color: black;
}

.category {
    max-width: 350px;
}

.orange {
    color: #FF9F00;
}

.courseClick {
    background-color: #FF9F00;
    border-radius: 10px;
}