.search {
    margin: 20px 100px;
}

.searchButton {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 20px 10px;
}

.searchButton input {
    background-color: #FFEBDA;
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
}

.results {
    display: flex;
    flex-direction: row;
    font-family: 'TerminaDemi';
    justify-content: space-between;
    column-gap: 50px;
}

.results p {
    font-family: 'Helvetica';
}

.category,
.courses {
    overflow-y: scroll;
    height: 500px;
}

.category p {
    font-size: 18px;
}

.category p:hover {
    color: #FF9F00;
    cursor: pointer;
}

.courses {
    background-color: #FFDBBC;
    border-radius: 20px;
    padding: 8px 25px;
}

.singleCourse {
    background-color: white;
    border-radius: 10px;
}

.singleCourse:hover {
    cursor: pointer;
    background-color: #FF9F00;
}

.singleCourse p {
    font-size: 20px;
    padding: 10px 20px;
}

.singleCourse p:hover {
    color: black;
}

.category {
    max-width: 350px;
}

.orange {
    color: #FF9F00;
}

.courseClick {
    background-color: #FF9F00;
    border-radius: 10px;
}

.noChannels {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}

.noChannels img {
    padding-top: 20px;
    width: 300px;
}

.noChannels h2 {
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.noChannels p {
    font-size: 13px;
}

.noChannels h3 {
    font-family: 'HelveticaItalic';
    font-weight: lighter;
    font-size: 18px;
}

.channelButtons {
    display: flex;
    flex-direction: column;
    background-color: #FFDBBC;
    padding: 30px 50px;
    border-radius: 13px;
}

.channelButtons input {
    background-color: #FF9F00;
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
    color: white;
}

.channelButtons form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.channelButtons button {
    background-color: #896BFD;
    border: none;
    border-radius: 20px;
    padding: 7px 0px;
    color: white;
    cursor: pointer;
    width: 100px;
}

.hasChannels {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.discordBox {
    display: flex;
    flex-direction: column;
    background-color: #FF9F00;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    padding: 50px 50px;
    row-gap: 25px;

}

.discordBox img {
    width: 65px;
}

.discordBox a {
    font-family: 'Helvetica';
    font-weight: bolder;
    background-color: white;
    padding: 10px 20px;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.discordBox a:hover {
    background-color: #FFDBBC;

}

.slackBox {
    display: flex;
    flex-direction: column;
    background-color: #FF9F00;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    padding: 50px 50px;
    row-gap: 25px;
}

.slackBox img {
    display: flex;
    flex-direction: column;
    width: 50px;
}

.slackBox a {
    font-family: 'Helvetica';
    font-weight: bolder;
    background-color: white;
    padding: 10px 20px;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.slackBox a:hover {
    background-color: #FFDBBC;
}