html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "TerminaDemi";
  src: url('../fonts/Fontspring-DEMO-termina-bold.otf');
}

@font-face {
  font-family: "TerminaBold";
  src: url('../fonts/Fontspring-DEMO-termina-demi.otf');
}

@font-face {
  font-family: "HelveticaRegular";
  src: url('../fonts/Helvetica.ttf');
}

@font-face {
  font-family: "HelveticaLight";
  src: url('../fonts/helvetica-light-587ebe5a59211.ttf');
}

@font-face {
  font-family: "HelveticaBold";
  src: url('../fonts/Helvetica-Bold.ttf');
}