html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica';
}

@font-face {
  font-family: "TerminaDemi";
  src: url('../fonts/terminaDemi.otf');
}

@font-face {
  font-family: "TerminaBold";
  src: url('../fonts/terminaBold.otf');
}

@font-face {
  font-family: "HelveticaRegular";
  src: url('../fonts/Helvetica.otf');
}

@font-face {
  font-family: "HelveticaLight";
  src: url('../fonts/Helvetica-Light.otf');
}

@font-face {
  font-family: "HelveticaBold";
  src: url('../fonts/Helvetica Bold.ttf');
}

@font-face {
  font-family: "HelveticaItalic";
  src: url('../fonts/Helvetica-Oblique.otf');
}