.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 20px;
}

.sectiontext {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    line-height: 0;
    padding-left: 10px;
}