.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.sectiontext {
    display: flex;
    font-size: 33px;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 80px;
}

.orange {
    color: #FF9F00;
    margin: 0;
}

.black {
    margin: 0;
    line-height: 1;
}

.caption {
    font-size: 19px;
    font-family: 'HelveticaLight';
}

.mascot {
    display: flex;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
}